* {padding: 0;margin: 0;border: 0;}
*, *:before, *:after {box-sizing: border-box;}
:focus, :active {outline: none;}
a:focus, a:active {outline: none;}
nav, footer, header, aside {display: block;}
html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;}
input, button, textarea {font-family: inherist;}
input:-ms-clear {display: none;}
button {cursor: pointer;}
button::-moz-focus-inner {padding: 0;border: 0;}
a, a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
ul li {list-style: none;}
img {vertical-align: top;}
h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;}

$color-orange: #FFAD5E;
$color-blue: #3B3B93;
$color-blue-white: #4F4FAD;

body{
  height: 100vh;
  width: 100%;
  font-family: Arial;
}
.body{
  height: 100%;
  width: 100%;
}
.burger{
  font-family: Roboto;
  .click{
    background: $color-orange;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: fixed;
    z-index: 50;
    top: 50%;
    transform: translateY(-50%);
    left: 65px;
    transition-duration: 300ms;
    .o{
      display: block;
      position: absolute;
      z-index: 52;
      width: 9px;
      height: 9px;
      border: 2px solid white;
      border-radius: 50%;
      background: $color-orange; 
    }
    .one{
        top: 10px;
        left: 15px;
      }
    .two{
      top: 20px;
      left: 26px;
    }
    .three{
      top: 30px;
      left: 15px;
    }
    .l{
      content: '';
      display: block;
      position: relative;
      top: 22px;
      left: 12px;
      border-top: 2px solid white;
      width: 26px;
    }
    &:before{
      content: '';
      display: block;
      position: relative;
      top: 14px;
      left: 12px;
      border-top: 2px solid white;
      width: 26px;
    }
    &:after{
      content: '';
      display: block;
      position: relative;
      top: 30px;
      left: 12px;
      border-bottom: 2px solid white;
      width: 26px;
    }
  }
}

.click.active{
  left: 575px;
  top: 174px;
}
.burger__menu{
  position: fixed;
  top: 0px;
  left: -510px;
  z-index: 20;
  overflow: hidden;
  width: 600px;
  height: 100%;
  background: $color-blue;
  transition-duration: 300ms;
}

.burger__menu::-webkit-scrollbar{width: 0;}
.burger__menu{-ms-overflow-style:none;}
.burger__menu{overflow: -moz-scrollbars-none;}

.burger__menu.active{
  left: 0;
  overflow: auto;
}
.menu__block{
  position: relative;
  z-index: 2;
  width: 400px;
  margin: 0 auto;
  color: white;
}
.img__logo-min{
  display: none;
}
.img__logo-max{
  position: absolute;
  top: 50px;
  left: 540px;
  transition-duration: 300ms;
  z-index: 150;
}
.img__logo-max.active{
  position: absolute;
  display: flex;
  top: 50px;
  left: 100px;
  transition-duration: 300ms;
  z-index: 50;
}
.logo-min{
  display: none;
}
.logo-max{
  display: block;
  color: white;
  font-size: 27px;
  margin: 58px 0px 0px 38px;
}
.menu{
  border-bottom: 1px solid $color-blue-white;
}
.menu__title{
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}
.title__block{
  margin: 95px 0px 0px 0px;
  display: flex;
  font-weight: 500;
  .title__menu{
    font-size: 36px;
    margin: 0px 70px 0px 0px;
  }
  .title__clear{
    padding-top: 20px;
    font-size: 14px;
  }
}
.menu__object{
  margin: 56px 0px 0px 0px;
}

.menu-item__object{
  display: flex;
  flex-wrap: wrap;
  margin: 22px 0px 67px 0px;
  input{
    position: absolute;
    visibility: hidden;
  }
  label{
    flex: 50%;
    display: flex;
    margin: 18px 0px 0px 0px;
    div{
      margin-top: 3px;
      height: 10px;
      width: 10px;
      background: $color-blue;
      border-radius: 50%;
      box-shadow: 
        0px 0px 0px 2px $color-blue,
        0px 0px 0px 3px white,
    }
    span{
      font-weight: 500;
      margin-left: 10px;
      font-size: 16px;
    }
  }
}
#object-1:checked ~ .object-1,
#object-2:checked ~ .object-2,
#object-3:checked ~ .object-3,
#object-4:checked ~ .object-4,
#object-5:checked ~ .object-5,
#object-6:checked ~ .object-6{
  font-weight: 700;
  div{
    background: $color-orange;
    box-shadow: 
        0px 0px 0px 2px $color-blue,
        0px 0px 0px 3px $color-orange,
  }
}
.menu__floor, .menu__price-m, .menu__price, .menu__rating{
  margin-top: 25px;
}
.menu-item__floor{
  display: flex;
  justify-content: space-between;
  margin: 22px 0px 30px 0px;
  font-weight: 400;
  input{
    position: absolute;
    visibility: hidden;
  }
  label{
    height: 38px;
    width: 90px;
    border-radius: 19px;
    background: $color-blue-white;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover{
      background: $color-orange;
    }
  }
}
#floor-1:checked ~ .floor-1,
#floor-2:checked ~ .floor-2,
#floor-3:checked ~ .floor-3,
#floor-4:checked ~ .floor-4{
  background: $color-orange;
}
.menu__price-m{
  margin-bottom:43px;
}
.menu-item__price-m{}
.menu-item__price{
  margin: 22px 0px 30px 0px;
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  font-size: 14px;
  div{
    margin-left: 15px;
    font-size: 12px;
    input{
      height: 38px;
      width: 125px;
      background: transparent;
      border: 1px solid white;
      border-radius: 19px;
      color: white;
      padding: 10px;
      font-family: Roboto;
      margin-left: -30px;
      padding-left: 38px;
    }
  }
  button{
    height: 38px;
    border-radius: 19px;
    width: 107px;
    background: $color-blue-white;
    color: white;
    font-family: Arial;
    padding: 0px 15px;
    font-size: 14px;
    line-height: 17px;
    &:hover{
      background: $color-orange;
    }
  }
}
.menu-item__rating{
  margin-top: 33px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  span{
    font-size: 20px;
  }
  input{
    position: absolute;
    visibility: hidden;
  }
  label{
    margin-right: 10px;
    margin-bottom: 18px;
    height: 38px;
    border-radius: 19px;
    background: $color-blue-white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 18px;
    &.rating-1{
      padding: 0px 28px !important;
    }
    &:hover{
      background: $color-orange;
    }
  }
}
#rating-1:checked ~ .rating-1,
#rating-2:checked ~ .rating-2,
#rating-3:checked ~ .rating-3,
#rating-4:checked ~ .rating-4,
#rating-5:checked ~ .rating-5{
  background: $color-orange;
}

#map{
  height: 100%;
  width: 100%;
  font-size: 25px;
}

.project{
  position: fixed;
  display: flex;
  color: $color-blue;
  top: 70px;
  transition-duration: 300ms;
  right: 110px;
  button{
    text-shadow: 0px 0px 5px white;
    color: $color-blue;
    font-family: Roboto;
    font-size: 20px;
    background: transparent;
    margin-right: 51px;
    p{
      width: 70%;
      margin: 0 auto;
      margin-top: 4px;
    }
    &:hover p{
      border-bottom: 3px solid #FFAD5E
    }
  }
}

$infowidth:923px;

.project.show{
  transition-duration: 500ms;
  right: 110px + $infowidth;
}

@media(max-width: 600px){
  #map{
    z-index: -2;
  }
  body.lock{
    overflow: hidden;
  }
  .burger{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 140px;
    background: $color-blue;
    .click{
      left: auto;
      right: 48px;
      top: 70px;
      z-index: 50;
    }
  }
  .burger__burger{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 140px;
    background: $color-blue;
    z-index: 49;
  }
  .burger__menu{
    width: 100vw;
    left: auto;
    top: -100%;
    z-index: -1;
  }
  .burger__menu.active{
    top: 0;
    width: 100vw;
  }
  .menu__block{
    margin-top: 140px;
  }
  .img__logo-max{
    display: none;
  }
  .img__logo-max.active{
    display: none;
  }
  .img__logo-min{
    display: flex;
    position: fixed;
    z-index: 200;
    top: 50px;
    left: 102px;
  }
  .icon{
    position: fixed;
    top: 15px;
    left: 20px;
    z-index: 200;
  }
  .logo-min{
    display: block;
    color: white;
    font-size: 27px;
    position: fixed;
    z-index: 200;
    top: 58px;
    left: 142px;
  }
  .logo-max{
    display: none;
  }
  .project{
    display: none;
  }
  .info{
    width: 400px;
  }
  .container__info{
    width: 380px !important;
  }
  .image, .video__description, .advertising{
    img{
      width: 380px !important;
    }
  }
}

@media(max-width: 400px){
  .img__logo-min{
    left: 30px;
    top: 20px;
  }
  .logo-min{
    left: 70px;
    top: 24px;
  }
  .burger__burger{
    height: 70px;
  }
  .burger{
    height: 70px;
  }
  .click{
    right: 20px !important;
    top: 35px !important;
  }
  .menu__block{
    margin-top: 70px;
    width: 300px;
  }
  .menu-item__price{
    div{
      margin-left: 10px;
      font-size: 12px;
      input{
        width: 85px;
        margin-left: -25px;
        padding-left: 28px;
      }
    }
  }
  .menu-item__floor{
    label{
      width: 70px;
    }
  }
  .title__menu{
    margin: 0px 60px 0px 0px !important;
  }
}